body {
    background-color: #777;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
}

/* .content {
    max-width: 1000px;
  } */

header {
    text-align: center;
    background: #ebebeb;
    height: 100px;
    margin-top: 10px;
}

nav {
    text-align: center;
    background: #ebebeb;
    height: 100px;
    margin-top: 10px;
}

section {
    text-align: center;
    background: #ebebeb;
    height: 200px;
    margin-top: 10px;
    float: left;
    width: 60%;
}

aside {
    text-align: center;
    background: #ebebeb;
    right: 100px;
    float: right;
    width: 275px;
}

footer {
    text-align: center;
    background: #ebebeb;
    margin-top: 10px;
}

article {
    text-align: center;
    color: #ebebeb;
    background-color: #777;
    margin: 10px 20px;
    height: 100px;
}

h1 {
    text-align: center;
    color: #777;
    background: #ebebeb;
    margin: 20px 40px;
}

p {
    text-align: center;
    color: #777;
    background: #ebebeb;
    margin: 20px 40px;
}